
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
     <p> <%= image_tag @book.image, class: "book-image" %> </p>
    </div>
    <div class="col-6">
      <h1 class="jumbotron-heading">
        <%= @book.title %>
      </h1>
      <p> by <strong><%= @book.author.full_name %></strong> </p>
      <div class="alert alert-secondary mt-4" role="alert">
        <h4 class="alert-heading"> MLA Citation </h4>
          <h6><%= @book.get_citation %></h6>
      </div>
      <%# button_to 'Copy Citation to Clipboard',  onclick: "copyCite()", remote: true, id: "copy-text"%>
      <%= link_to 'Home', author_path(@book.author), :class => "btn btn-md btn-outline-secondary" %>
    </div>
  </div>
</div>
